.homeMe{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.textMe{
    width: 50%;
    padding-left: 35px;
    font-size: 20px;
    color: white;
}

.IconsMe{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    color: white;
    font-size: 80px;
   
}

li{
    padding: 30px;
}

.firstIcons{
    display: flex;
    flex-direction: row;
}

.secondIcons{
    display: flex;
    flex-direction: row;
}

@media (max-width:720px){
    .IconsMe{
        display: none;
    }
    .textMe{
        width: 75%;
    }
    
}