.home{
    height: 100vh;
    width: 100vw;
}
.textAbout{
    margin-top:  90px;
    color:grey;
}
.h3{
    text-align: center;
    
}

.cardAbout{
    margin: auto;
    margin-top: 40px;
    color:grey;
}

.title{
    text-align: center;
}

/* .card-img{
    text-align: center;
} */