.home{
    height: 100vh;
    width: 100%;
}
.textAbout{
    margin-top:  90px;
    color:grey;
}
.title2{
margin-top: 5rem;
}

.cardAbout{
    margin: auto;
    margin-top: 40px;
    color:grey;
}

.title{
    text-align: center;
}

/* .card-img{
    text-align: center;
} */


/* #tittle1{
    margin-left: 82px;
    font-size: 25px;
    font-weight: bolder;
    margin-top: 8rem;
} */

#name{
    margin-left: 82px;
    font-size: 50px;
    font-weight: bolder;
    margin-top: 16rem;
    
}

.profession{
    margin-left: 82px;
    font-size: 25px;
    
}

.photo{
    width: 100%;
    height: auto;
    margin-left: 720px;
    margin-top:-300px;
}