.home{
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.textAbout{
    font-size: 25px;
   width: 50%;
    color:grey;
    padding: 60px;
    font-weight: bolder;
}

.title{
    text-align: center;
}

#name{
    font-size: 50px;
    font-weight: bolder;
}

.photo{
    width: 50%;
    margin-top: 175px;
}

img{
    width: 70%;
    height: auto;
}

@media screen and (max-width: 720px){
    .photo{
        display: none;
    }
    .textAbout{
        width: 100%;
    font-size: 20px;
    padding: 80px;
    }

    #name{
        font-size: 40px;
    }

    .profession {
        display: flex;
        flex-direction: row;

    }
}