.h3{
    text-align: center;
    margin-top: 80px;
}
.Card.Text{
    color: grey;
}

.btnCard{
margin-top: 7px;
}

.allCards{
    margin-top: 20px;
}
.btnCard:hover{
    cursor: pointer;
    text-decoration: none;
    font-weight: bolder; 
    
}