.contactResponsive{
    width:33.33%;
    height: auto;
    float: left;
    justify-content: space-evenly;
}
.h3{
    padding-top: 60px;
    text-align: center;
   
}

.All{
    height: 100vh;
    width: 100vw;
}

.github{
    padding: 30px;
    font-size: 80px;
    margin-top: 190px;
    color:white;
}
a{
    text-decoration: none;
}


.linkedin{
    padding: 30px;
    font-size: 70px;
    margin-top: 190px;
    color:white;
}

.mail{
    padding: 30px;
    font-size: 60px;
    margin-top: 190px;
    color:white;
}

@media (max-width:800px){
    .contactResponsive{
        width:100%;
        height: auto;
        float: left;
    }

}
